/* layout */
html, body {
  margin: 0;
  background: #fbfbfb;
  font-family: 'Nunito Sans', sans-serif;
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
}

footer {
  width: 100%;
  background: #575757;
  color: #f4f4f4;
  bottom: 0;
  position: absolute;
}

.container {
  margin: auto;
  width: 95%;
  max-width: 1200px;
  padding: 10px 5px;
}

.col-4 {
  width: calc(25% - 40px);
  float: left;
  padding: 20px;
}

.col-8 {
  width: calc(75% - 40px);
  float: left;
  padding: 20px;
}

/* form */
textarea.key-display {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border: 1px solid #575757;
  border-radius: 3px;
  background: rgb(51, 51, 54);
  color: #f9f9f9;
  padding: 10px
}

textarea.key-display.key-display-extended {
  height: 450px;
}

.grayed textarea.key-display {
  background: rgb(51, 51, 54);
}


input {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 7px;
  border: none;
  border-bottom: 1px solid rgb(58, 111, 146);
  border-radius: 0px;
  color: #575757;
  background: none
}

input[type=submit] {
  color: white;
  background: rgb(58, 111, 146);
  border-radius: 5px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.text-input {
  position: relative;
  transition: all 2s

}

.text-input:focus-within:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: rgb(58, 111, 146);
  display: block;
  position: absolute;
  bottom: 8px;
  transition: all .2s;
  border-radius: 2px
}

.text-input:after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: rgb(58, 111, 146);
  display: block;
  position: absolute;
  bottom: 9px;
  transition: all .2s

}
